
    /* Media Query for screens with max-width of 800px */
    @media (max-width: 800px) {
    
        /* Adjust the logo and navigation links for smaller screens */
        .logo, .coder {
            width: 80px;
            height: 40px;
            margin-left: 70px; /* Reduced margin for small screens */
        }
    
        header {
            flex-direction: column;
            align-items: flex-start;
            height: auto;
            padding: 10px;
        }
    
        .nav-links {
            display: flex;
            flex-direction:row;
            margin-top: 10px;
        }
    
        .nav-links a {
            margin: 10px 20px;
            font-size:20px;
        }
    
        /* Adjust the container layout for smaller screens */
        .container {
            flex-direction:column;
            justify-content: center;
            align-items: center;
            top: 80px; /* Reduced vertical spacing */
        }
    
        .intro {
            text-align: center;
            margin: 20px 0;
        }
    
        .intro h1 {
            font-size: 1.2rem;
            margin: 0;
        }
    
        .picture {
            width: 300px;
            height: 150px;
            position: relative;
            bottom: 70px;
            left: 0;
            margin-top: 20px;
            
        }
    
        .cta {
            font-size: 14px;
            padding: 8px 12px;
            margin-bottom: 70px;
        }
    
        .bounce-in-top {
            width: 100%; /* Make the image responsive */
        }
    }
    
    /* Media Query for larger screens (optional, like 1024px and above) */
    @media (min-width: 1024px) {
        .intro h1 {
            font-size: 1.5rem; /* Larger text for larger screens */
        }
        .picture {
            width: 400px;
            height: 200px;
        }
    }
    