
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.logo,.coder{
    width: 100px;
    height: 50px;
    margin-right: 200px;
    position: relative;
 
}

li{
    list-style: none;
}

a{
    color: #EEEEEE;
    text-decoration: none;
    margin: 0 0 0 20px;
}

a:hover{
  color: #00ADB5;  
  font-size: 15px;
  transition: 1s ease;
}

main{
    background-color: #393E46;
    height:80vh;

}

.container{
    display: flex;
    position: relative;
    top: 150px;
    justify-content: center;
   
}


.intro,h1{
 font-size: 1.5rem;
 color: #EEEEEE;
 margin: 0 100px 0 0;
}

.picture,.bounce-in-top  {
    width: 400px;
    height: 200px;
    position: relative;
   bottom: 50px;
   left: 150px;
   border: #EEEEEE;
   border-style: solid;
   border-radius: 50px;
}


span{
    color: #00ADB5;
}

.cta{
    background-color: #00ADB5;
    color: #EEEEEE;
    padding: 10px 15px;
    margin: 30px 0 0 0;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}


footer{
        background-color: #222831;
        height: 100vh;
}

